<h1>Display your Pirate here</h1>
    <ul>
        <li>Name: <%= @pirate.name %></li>
        <li>Height: <%= @pirate.height %></li>
        <li>Weight: <%= @pirate.weight %></li>
    </ul>
<h2>Display your first ship here</h2>
    <ul>
        <li>Name: <%= @ships[0].name %></li>
        <li>Type: <%= @ships[0].type %></li>
        <li>Booty: <%= @ships[0].booty %></li>
    </ul>
<h2>Display your second ship here</h2>
    <ul>
        <li>Name: <%= @ships[1].name %></li>
        <li>Type: <%= @ships[1].type %></li>
        <li>Booty: <%= @ships[1].booty %></li>
    </ul>